
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
PrintTreeProject/bin/Debug/PrintTreeProject.exe
PrintTreeProject/bin/Debug/PrintTreeProject.pdb
PrintTreeProject/bin/Debug/PrintTreeProject.vshost.exe
PrintTreeProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PrintTreeProject/obj/Debug/PrintTreeProject.csproj.FileListAbsolute.txt
PrintTreeProject/obj/Debug/PrintTreeProject.csprojResolveAssemblyReference.cache
PrintTreeProject/obj/Debug/PrintTreeProject.exe
PrintTreeProject/obj/Debug/PrintTreeProject.pdb
